<div class="main">
    <div class="settings-block">
        <div class="main-text">
            Settings
        </div>
        <hr class="line" />
        <div class="text-icon">
            <img class="icon" src="../../../../assets/img/edit-profile.svg" />
            <a href="#" routerLink="/usersettings" routerLinkActive="active">
                <div class="text">Edit Profile</div>
            </a>
        </div>
        <div class="text-icon">
            <img class="icon" src="../../../../assets/img/security-privacy.svg" />
            <a href="#" routerLink="/usersettings" routerLinkActive="active">
                <div class="text">Security & Privacy</div>
            </a>
        </div>
        <div class="text-icon">
            <img class="icon" src="../../../../assets/img/notifications.svg" />
            <a href="#" routerLink="/usersettings" routerLinkActive="active">
                <div class="text">Notifications</div>
            </a>
        </div>
        <div class="text-icon">
            <img class="icon" src="../../../../assets/img/language.svg" />
            <a href="#" routerLink="/usersettings" routerLinkActive="active">
                <div class="text">Language</div>
            </a>
        </div>
        <div class="text-icon text-icon-bottom" (click)="logOut()">
            <img class="icon" src="../../../../assets/img/power_settings_new-black-18dp 1.svg" />
            <div>
                <div class="text">Log Out</div>
            </div>
        </div>
    </div>
</div>